body {
    background-color: steelblue;
}

.tabela {
    background-color: azure;
    width: fit-content;
    border-right: 1px solid azure;
    border-bottom: 1px solid azure;
}

th, td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}